---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
const data = await fetch("https://kea-alt-del.dk/t7/api/products").then((res) => res.json());
import Productcard from "../components/Productcard.astro";
---

<Layout>
  <h2>Produktliste</h2>
  {data.map((element) => <Productcard data={element} />)};
</Layout>
