---
const { data } = Astro.props;
---

<article class="product_list_container">
  <img src=`https://kea-alt-del.dk/t7/images/webp/640/${data.id}.webp` alt="Beskrivelse af billede" />
  <h2>{data.productdisplayname}</h2>
  <p>DKK {data.price},-</p>
</article>
